/* #id .class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-image: url('header.jpg');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;/* 画面めいっぱいに表示 */
    width: 100%;
    height: 140px;
    /*padding: 15px 0;*/
    margin: 0 auto;
    text-align: center;
    line-height: 140px;
}

header>h1{
    font-size: 60px;
    text-align: center;
    color: #e1eefe;
}

#teacher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#content-coment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

#work{
    width: 45%;
    /*background-color: lightgreen;*/
    text-align: center;
}

#work_content {
    background: rgba(256, 256, 256, 0.5); /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 90%; /* 幅 */
    height: 200px; /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: 0 5%;
    overflow-y: auto; /* 縦方向のスクロールを有効にする */
    white-space: pre-wrap; /* 改行を反映させる */
}

#advice{
    width: 45%;
    /*background-color: lightgreen;*/
    text-align: center;
}

#work_coment {
    background: rgba(256, 256, 256, 0.5); /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 90%; /* 幅 */
    height: 200px;
    /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: 0 5%;
    overflow-y: auto; /* 縦方向のスクロールを有効にする */
    white-space: pre-wrap; /* 改行を反映させる */
}

#student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#plans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

#plans>h2{
    width: 90%;
}

#submit_table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#submit{
    background-color: #bababa;
    border:black;
    color: black;/*何の色だ*/
    width: 12.5%;
    margin: 5px;
}

h2{
    font-size: 40px;
    text-align: center;
    width: 100%;
    /*background-color: lightblue;*/
}

p{
    font-size: 12px;
}

table, th, td {
    table-layout: fixed;
    background: rgba(256, 256, 256, 0.5); /* 背景色 */
    border: 1px solid black;
}

table{
    width: 100%;
    height: 200px;
    /* 高さ */
}

th{
    height: 30px;
}

td{
    height: 150px;
}

.test{
    width: 100%;
    height: 100%;
    overflow-y: auto; /* 縦方向のスクロールを有効にする */
}

p{
    font-size: 24px;
}

hr {
    margin: 12px 0;
    border: solid 1px #5d93d5;
    width: 80%;
    }
    
body{
    background-image: url('back2.jpg');
    background-size: cover;
    background-position: center;
    /*background-position: bottom;*/
    font-family: 'Kiwi Maru', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: #ccc;
    border:black;
    color: black;/*何の色だ*/
    width: 12.5%;
    margin: 5px;
}

footer{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color:#bcebff;
    position: fixed;
    bottom: 0;
}

@media (min-width: 768px) and (max-height: 900px) {
    footer{
        position: static;
    }
    
}


@media screen and (max-width:768px){
    
    #body1{
        height: auto;
    }
    
    #content-coment{
        display: block;
    }
    
    #work, #advice{
        width: 100%;
        padding: 5% 10%;
    }    
    
    table {
      /*border-collapse: collapse;*/
      width: 75%;
      writing-mode: vertical-lr; /* 縦書きに設定 */
    }
    
    td, th{
        height: 80px;
        writing-mode: horizontal-tb; /* セル内の文字を横書きに戻す */
    }
    
    .test{
        height: 80px;
    }
    
    footer{
        position: static;
    }
}
