/* #id .class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-image: url('header2.jpg');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;/* 画面めいっぱいに表示 */
    width: 100%;
    height: 160px;
    /*padding: 15px 0;*/
    margin: 0 auto;
    text-align: center;
    line-height: 160px;
}

header>h1{
    font-size: 60px;
    text-align: center;
    color: #e1eefe;
}

#no_student>p{
    font-size: 40px;
}

#no_student{
    font-size: 12px;
    text-align: center;
}

#student_select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#student_select>h1{
    margin: 10px;
}

#student_id{
    width: 50%;
    font-size: 36px;
    margin: 10px;
    text-align: center;
}

#student_select_1{
    width: 25%;
    font-size: 24px;
    margin: 10px;
}

#body1{
    display: flex;
    flex-direction: column;
    /*text-align:center;*/
    align-items: center;
    /*margin: auto;*/
}

#teacher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#content-coment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

#work{
    width: 45%;
    /*background-color: lightgreen;*/
    text-align: center;
}

.work_content {
    background: rgba(256, 256, 256, 0.5); /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 100%; /* 幅 */
    height: 200px; /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: auto;
}

#advice{
    width: 45%;
    /*background-color: lightgreen;*/
    text-align: center;
}

.work_coment {
    background: rgba(256, 256, 256, 0.5); /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 100%; /* 幅 */
    height: 200px;
    /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: auto;
}

#student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#plans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

#plans>h2{
    width: 90%;
}

/*.headline{*/
/*    font-size: 30px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*}*/

h2{
    font-size: 40px;
    text-align: center;
    width: 100%;
    /*background-color: lightblue;*/
}

p{
    font-size: 24px;
}

table, th, td {
    table-layout: fixed;
    background: white; /* 背景色 */
    border: 1px solid black;
}

table{
    width: 90%;
    height: 200px;
    /* 高さ */
}

th{
    font-size: 18px;
}

.column1{
    width: 9%;
    font-size: 18px;
}

hr {
    margin: 12px 0;
    border: solid 1px #5d93d5;
    width: 80%;
    }
    
body{
    background-image: url('header2.jpg');
    background-size: cover;
    background-position: top center;
    font-family: 'Kiwi Maru', sans-serif;
}

button{
    background-color: #bababa;
    border:black;
    color: black;/*何の色だ*/
    width: 12.5%;
    margin: 2px;
}

select{
    background-color: #dfdfdf;
}

option{
    background-color: #bababa;
}

footer{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color:#bcebff;
    position: fixed;
    bottom: 0;
}
