/* #id .class */
/*https://sole-color-blog.com/blog/71/*/
#no_student{
    font-size: 12px;
    text-align: center;
}


#body1{
    display: flex;
    flex-direction: column;
    
    margin: auto;
}

#student_select{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    background-color: red;
}

.student_select_1{
    margin: 12px auto;
}


#teacher{
    display: flex;
    justify-content: center;
    align-items: center;
}

#work{
    width: 35%;
    background-color: lightgreen;
    text-align: center;
}

.work_content {
    background: white; /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 90%; /* 幅 */
    height: 180px; /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: auto;
}

#advice{
    width: 35%;
    background-color: lightgreen;
    text-align: center;
}


.work_coment {
    background: white; /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 90%; /* 幅 */
    height: 180px; /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: auto;
}
#plans{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90px;
    background-color: lightgreen;
    text-align: center;
    margin: auto;
}

#plan_button{
    width: 150px;
    margin: auto;
}

#submit_status{
    height: 20%;
}

#logout{
    position: fixed;
    bottom: 0;
}

.column1{
    width: 9%;
    font-size: 18px;
}

.HEAD{
    font-size: 64px;
    text-align: center;
}

.headline{
    font-size: 30px;
    text-align: center;
}

h2{
    background-color: lightblue;
}

p{
    font-size: 24px;
}

table, th, td {
    table-layout: fixed;
    background: white; /* 背景色 */
    border: 1px solid black;
}

th{
    font-size: 18px;
}

hr {
    margin: 12px 0;
    border: solid 1px black;
    }
    
body{
    background-color: #A8E3FF;
}

button{
    background-color: white;
    border:black;
    color: black;/*何の色だ*/
    width: 60px;
}

option{
    text-align: center;
}

select{
    background-color: white;
    color: black;
    width: 100%;
    height: 30px;
}

