/* #id .class */
#body{
    display: flex;
    flex-direction: column;
}

#logout{
    margin: auto;
}

#teacher{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#work_input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#work{
    width: 510px;
    background-color: lightgreen;
    text-align: center;
}

#work_content {
    background: white; /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 90%; /* 幅 */
    height: 180px; /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: auto;
}

#advice{
    width: 510px;
    background-color: lightgreen;
    text-align: center;
}


#work_coment {
    background: white; /* 背景色 */
    border-radius: 30px; /* 丸枠 */
    border: 3px solid black;
    width: 90%; /* 幅 */
    height: 180px; /* 高さ */
    color: black; /* 文字色 */
    /*font-size: 52px;  フォントサイズ */
    text-align: center; /* 水平方向の中央揃え */
    line-height: 100px; /* 垂直方向の中央揃え */
    margin: auto;
}

#work_store{
    width: 90px;
    height: 30px;
    font-size: 15px;
    margin: 10px;
}

.HEAD{
    font-size: 64px;
    text-align: center;
}

.headline{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 36px;
    text-align: center;
}

h2,h3{
    background-color: lightblue;
}

p{
    font-size: 24px;
}

body{
    background-color: #A8E3FF;
}

button{
    width: 90px;
    height: 30px;
    font-size: 15px;
    background-color: white;
    border:black;
    color: black;/*何の色だ*/
}

textarea{
    font-size: 24px;
}
